.header-desktop{
    padding: 16px;
    padding-left: 100px;
    padding-right: 100px;

    @media (max-width: 1200px){
        padding: 16px;
    }

    background: $primary;
    box-shadow: 0px 1px 0px #E5E9F2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 90;

    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 100%;

        @media (max-width: 1200px){
            justify-content: center;
        }

        .logo{
            img{
                @media (max-width: 1200px){
                    max-width: 218px;
                    width: 100%;
                    height: auto;
                }
            }
        }

        .buttons{
            display: flex;
            align-items: center;
            gap: 16px;

            @media (max-width: 1200px){
                display: none;
            }

            .btn:not(.ghost-btn){
                background: #ffffff;
                color: $primary;
                border-color: #ffffff;
            }
            .ghost-btn{
                border-color: #ffffff !important;
                color: #ffffff !important;

                &:hover{
                    background: $primary !important;
                }
            }

            .btn{
                &:hover{
                    opacity: 0.7;
                }
            }
            
        }
    }
}